[submodule "Tools/Android/ndk"]
	path = Tools/Android/ndk
	url = https://android.googlesource.com/platform/ndk.git
[submodule "Tools/Android/android-cmake"]
	path = Tools/Android/android-cmake
	url = git://gitorious.org/android-cmake/android-cmake.git
[submodule "Tools/Android/Boost-for-Android"]
	path = Tools/Android/Boost-for-Android
	url = ../../MysticTreeGames/Boost-for-Android.git
[submodule "Lib"]
	path = Lib
	url = https://github.com/AlexAlbala/AlterNative-CXX-Lib
[submodule "Tests"]
	path = Tests
	url = git@github.com:AlexAlbala/AlterNative-Tests.git
[submodule "AlterNative.Core/Lib"]
	path = AlterNative.Core/Lib
	url = https://github.com/AlexAlbala/AlterNative-CXX-Lib.git
[submodule "AlterNative.Core/Tests"]
	path = AlterNative.Core/Tests
	url = git@github.com:AlexAlbala/AlterNative-Tests.git
[submodule "AlterNative.Core/Tools/Android/Boost-for-Android"]
	path = AlterNative.Core/Tools/Android/Boost-for-Android
	url = https://github.com/MysticTreeGames/Boost-for-Android
[submodule "Tools/Cotire"]
	path = Tools/Cotire
	url = ../../sakra/cotire
