[submodule "Tools/Android/ndk"]
	path = Tools/Android/ndk
	url = https://android.googlesource.com/platform/ndk.git
[submodule "Tools/Android/android-cmake"]
	path = Tools/Android/android-cmake
	url = git://gitorious.org/android-cmake/android-cmake.git
[submodule "Tools/Android/Boost-for-Android"]
	path = Tools/Android/Boost-for-Android
	url = ../../MysticTreeGames/Boost-for-Android.git
[submodule "Lib"]
	path = Lib
	url = https://github.com/AlexAlbala/AlterNative-CXX-Lib
[submodule "Tests"]
	path = Tests
	url = https://github.com/AlexAlbala/AlterNative-Tests
